.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
@media (min-width: 100px) and (max-width: 500px) {
    .video-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media (min-width: 500.1px) and (max-width: 750px) {
    .video-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 750.1.1px) and (max-width: 1000px) {
    .video-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1000.1px) {
    .video-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.video-card {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.thumbnail-container {
    position: relative;
}
.video-link .thumbnail {
    vertical-align: bottom;
}
.thumbnail {
    width: 100%;
}
.video-link {
    height: 0;
    width: 0;
}
.video-time {
    position: absolute;
    bottom: 7px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 3px;
}
.video-info {
    display: grid;
    grid-template-columns: 36px 1fr;
    column-gap: 10px;
}
.channel-picture {
    width: 36px;
    border-radius: 18px;
}
.text-info {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
}
.video-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}
.video-author,
.video-stats {
    font-size: 12px;
    color: #606060;
}
.video-author-container {
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.channel-tooltip {
    position: absolute;
    font-size: 12px;
    color: white;
    background-color: rgba(92, 92, 92, 0.9);
    padding: 10px 8px;
    border-radius: 3px;
    top: -50px;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
    white-space: nowrap;
}
.video-author-container:hover .channel-tooltip {
    opacity: 1;
}

